<!DOCTYPE html>
<html>
    <head>
        <title>Błąd</title>
        <meta charset="utf-8">
        <meta name="description" content="Kreator stron piłkarskich">
        <meta name="author" content="Paweł Gawlik">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes">
        <link rel="icon" href="./images/sf.jpg">
        <link rel="stylesheet" href="./stylesheets/view.css">
        <script src="./javascripts/jquery-3.5.1.js"></script>
        <script src="./javascripts/view.js" defer></script>
    </head>
    <body>
        <img src="images/sf.jpg">
        a(href="/main/" + data[0].id2)= data[0].title
    </body>
</html> 